* {
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    position: absolute;
    overflow: hidden;
    width: 900px;
    height: 650px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
}

p {
    font-family: Fedra;
}

audio {
    display: none;
}

.name {
    transition: 0.5s;
    height: 46px;
    width: 285px;
    border-radius: 11px;
    background-color: #F3F3F3;
    box-shadow: 3px 3px 4px 0 rgba(222,222,230,0.5), -3px -3px 4px 0 #FEFEFE;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35px;
}

.name p {
    font-family: FedraBold;
    color: #F0BC49;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    line-height: 24px;
    width: 92.631578%;
    height: 78.260869%;
    margin-top: 3px;
}

.over {
    margin-top: -420px;
}

.videoContainer {
    border-radius: 14px;
    position: absolute;
    width: 90.2%;
    height: 91.639%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 150%;
    transform: scaleX(-1);
}

.frame {
    transition: 0.5s;
    height: 311px;
    width: 286px;
    border-radius: 19px;
    background-color: #F3F3F3;
    box-shadow: 3px 3px 4px 0 rgba(222,222,230,0.5), -3px -3px 4px 0 #FEFEFE;
    position: absolute;
    top: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #F3F3F3;
    box-shadow: 2px 2px 2px 0 rgba(222,222,230,0.5), -2px -2px 2px 0 #FEFEFE;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.button {
    cursor: pointer;
}

.button:hover .current {
    opacity: 0.7;
}

.button:active .current {
    opacity: 0.5;
}

.button:active .inside {
    opacity: 0 !important;
}

.inside {
    position: absolute;
    height: 85%;
    width: 85%;
    box-shadow: -1px 1px 1px 0 rgba(254,254,254,0.48);
    border-radius: 100%;
}

.under {
    top: 650px !important;
}

#question {
    transition: 1s;
    position: absolute;
    top: 510px;
    height: 118px;
    width: 636px;
    border-radius: 19px;
    background-color: #F3F3F3;
    box-shadow: 3px 3px 4px 0 rgba(222,222,230,0.5), -3px -3px 4px 0 #FEFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
}

#question p {
    font-family: FedraDemi;
    text-align: center;
    color: #5C7CA6;

    width: 589px;
    height: 91px;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    left: 132px;
}

.right {
    right: 132px;
}

.profilePic {
    width: 90.7%;
    height: 91.9%;
    z-index: 1;
    transition: 0.2s;
}

#centerBtn {
    z-index: 1;
}